<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conversation.name %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @conversation.likes %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
