<!--
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="npm.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 -->

<div class="container">
  <div row="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left meta">
              <div class="title h5">
                <%= @conversation.name %>
              </div>
              <div class="title h3">
                <b><%= @chapter.title %></b>
              </div>
          </div>
        </div>
        <div class="post-description">
          <p> <%= @chapter.description %> </p>
          <p><em><%= @chapter.bible_ref %> </em></p>
          <div class="stats">
              <%= link_to group_conversation_addlike_path(@group, @conversation) do %>
                <span class="btn btn-default stat-item red-heart">
                  <i class="fa fa-heart icon"></i> <%= @conversation.likes %>
                </span>
              <% end %>
          </div>
        </div>
        <div class="post-footer">
          <%= simple_form_for([@group, @conversation, @new_message], defaults: { input_html: { class: 'form-inline' } }) do |f| %>
            <%= f.error_notification %>
            <div class="same-line">
              <div class="form-inputs">
                <%= f.text_field :name, placeholder: "Ajouter un commentaire" %>
              </div>

              <div class="form-actions big-item">
                <%= f.button :submit, "Publier", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>

          <ul class="comments-list">
            <% @messages.each do |message| %>
              <li class="comment">
                <a class="pull-left avatar" href="#">
                  <%= image_tag message.author_img, height: 40 %>
                </a>
                <div class="comment-body">
                  <div class="comment-heading">
                      <h4 class="user"><%= message.author_name %></h4>
                  </div>
                  <p><%= message.name %></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
