<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Bible-ref:</strong>
  <%= @chapter.bible-ref %>
</p>

<p>
  <strong>Url:</strong>
  <%= @chapter.url %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
