<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="noindex" name="robots">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" rel="shortcut icon" type="image/x-icon">
    <link href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" rel="mask-icon" type="">
    <link href="https://codepen.io/ElenaDi07/pen/rLJmAo?depth=everything&order=popularity&page=68&q=mobile&show_forks=false" rel="canonical">
    <link href='https://res.cloudinary.com/lenadi07/raw/upload/v1468859092/forCodePen/owlPlugin/owl.theme.css' rel='stylesheet prefetch'>
    <link href='https://res.cloudinary.com/lenadi07/raw/upload/v1468859078/forCodePen/owlPlugin/owl.carousel.css' rel='stylesheet prefetch'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">

    <title>BIBLA</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>



    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% # render 'shared/buttom_bar' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
